
*{
    background-color: #09469b;
}

body {
    background-color: #c9d6ff;
    background: linear-gradient(to right, #e2e2e2, #c9d6ff);
    
}


#formConjunto
{
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    padding: 0 40px;
    height: 100%;
}

 input{
    background-color: #eee;
    margin: 8px 0;
    padding: 15px 20px;
    font-size: 18px;
    border-radius: 8px;
    width: 100%;
    outline: none;
    border: 2px solid transparent;
    transition: all 0.4s ease;
}

    .btn-salvar{
        background-color: white;
        color: black;
        font-size: 20px;
        padding: 10px 45px;
        border: 1px solid transparent;
        border-radius: 15px;
        font-weight: 600;
        letter-spacing: 0.5px;
        text-transform: uppercase;
        margin-top: 10px;
        cursor: pointer;
        width: 110%;
}

.btn-salvar:hover {
    color: #09469b;
    background-color: #fff;
    border-color: #09469b;
}

label {
    font-size: 20px;
    color: white;

}

h1 {
    font-size: 45px;
    color: #fff;
    text-align: center;
}

input:hover {
    background-color: #e0e0e0; 
    border-color: #999; 
    cursor: pointer; 
}

input:focus {
    border-color: #09469b; 
    background-color: #f0f0f0; 
    box-shadow: 0 0 8px rgba(9, 70, 155, 0.5); 
}

.back-arrow i {
    font-size: 50px; 
    color: #09469b; 
}

.back-arrow:hover i {
    color: #0056b3; 
}

@media (max-width: 768px) {
    #formProduto {
        padding: 20px;
    }

    input, .btn-salvar {
        font-size: 16px;
        padding: 10px;
    }

    h1 {
        font-size: 35px;
    }
}

.container {
    width: 100%;
    margin: 0 auto;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #09469b;
    margin-bottom: 2%;
    position: sticky;
    top: 0px;
}

nav ul {
    list-style-type: none;
}

nav ul li {
    display: inline;
    margin-left: 100px;
}

nav ul li a {
    color: #ffffff;
    text-decoration: none;
    font-size: 18px;
}

nav ul li a:hover {
    text-decoration: underline;
}

