*{
    background-color: #09469b;
}

body{
    font-family: 'Montserrat', sans-serif;
    margin: 0;
}

.container1 {
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: white;
    position: sticky;
    top: 0px;
}


.container{
    background-color: white;
}

.container1 nav{
    background-color: white;
}

.stContainer
{
    height: 6vh;
    width: 3vw;
    margin-left: 15px;   
}

.container1 ul {
    display: flex;
    list-style-type: none;
    flex-wrap: wrap;
}

.container1 ul li {
    display: inline;
    margin-left: 100px;
    margin-top: 2%;
}

.container1 ul li a {
    color: #ffffff;
    text-decoration: none;
    font-size: 18px;
}

.container1 ul li a:hover {
    text-decoration: underline;
    cursor: pointer; 
}

#align-all{
    display: flex;
    flex-direction: column;
    align-items: center;

}

.container1 button{
    background-color: white;
    border-color: white;
}

.container1 svg{
    background:transparent;
    padding: 0;
    margin: 0;
}



.justify{
    display: flex;
    flex-wrap: wrap; 
    justify-content: center;
    align-items: flex-start; 
    padding: 20px; 
 }
 
 .align{
    display: flex;
    justify-content: center;
    align-items: center;
 }
 
 #produto1, #produto2, #produto3 {
    width: 25%; 
    margin: 35px;
    border: 2px solid #09469b;
    border-radius: 20px;
    background-color: #ffffff; 
    padding: 10px; 
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1); 
    transition: transform 0.3s; 
    height: 70vh;
}

#produto1 h1, #produto2 h1, #produto3 h1 {
    text-align: center;
    background-color: white;
    color: #09469b;
    font-size: 30px;
    margin-top: 2%;
}

#produto1 form{
    background-color: white;
}

p.subtitle {
    background-color: white;
}

.btn-editar {
    background-color: #09469b;
    color: #fff;
    font-size: 16px; /* Ajusta o tamanho da fonte */
    padding: 10px 20px; /* Ajusta o padding do botão */
    border: none; /* Remove a borda padrão */
    border-radius: 15px;
    font-weight: 600;
    letter-spacing: 0.5px;
    text-transform: uppercase;
    margin-top: 10px;
    cursor: pointer;
    width: 100%; /* Botão ocupa toda a largura */
    transition: background-color 0.3s ease; /* Efeito de transição suave */
}

.btn-editar:hover {
    color: #09469b;
    background-color: #fff;
    border-color: #09469b;
    box-shadow: 0 8px 16px rgba(9, 70, 155, 0.5); 
}

 .title{
     font-size: 130%;
     color: #09469b;
 }
 .subtitle{
     color: #000000;
     margin-bottom: 1%;
 }

 .bi{
    color: #f0f0f0;
}

.offcanvas-body a{
    text-decoration: none;
    color: white
}

.offcanvas-header h5{
    color: white
}

a{
    width: 100%;
}
 
 p{
     font-size: 120%;
     color: #fff;
 }


 
 @media (max-width: 768px) {
     .container {
        display: flex; 
        flex-direction: row;
         padding-bottom: 20px;
     }
 
     nav ul {
         text-align: center;
     }
 
     nav ul li {
         display: block;
         margin-left: 0;
         margin-top: 10px;
     }
 
     .stContainer {
         width: 10%;
         position: relative;
         margin-bottom: 10px;
         top: auto;
         left: auto;
     }
 
     #produto1, #produto2, #produto3 {
         width: 90%;
         margin-left: 5%;
         margin-top: 5%;
         background-color: white;
     }
 
     .justify {
         flex-direction: column; 
         align-items: center;
     }
 }
 
 
 @media (max-width: 480px) {
     .btn-salvar {
         width: 100%;
         font-size: 16px;
         padding: 8px 0;
     }
 
     #produto1, #produto2, #produto3 {
         width: 100%;
         margin-left: 0;
         margin-top: 5%;
     }
 
     .stContainer {
         width: 20%;
         max-width: 80px;
     }
 
     nav ul li {
         margin-left: 0;
         margin-top: 5px;
     }
 
     .justify .justify {
         flex-direction: column; 
         align-items: center;
     }
 }

 input{
    background-color: #eee;
    margin: 8px 0;
    padding: 0 20px;
    font-size: 18px;
    border-radius: 8px;
    width: 100%;
    outline: none;
    border: 2px solid transparent;
    transition: all 0.4s ease;
    
    
}

input:hover {
    background-color: #e7e6e6;
    border-color: #09469b;
    cursor: pointer;
}

input:focus {
    border-color: #09469b; 
    background-color: #f0f0f0; 
    box-shadow: 0 0 8px rgba(9, 70, 155, 0.5); 
}