@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@300;400;500;600;700&display=swap');

*{
    margin: 0;
    padding: 0;
    font-family: 'Montserrat', sans-serif;
}

body{
    background-color: #09469b;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    height: 100vh;
}

.container{
    display: flex;
    align-items: center;
    flex-direction: column;
    background-color: #fff;
    border-radius: 30px;
    box-shadow: 0 5px 15px rgba(0, 0, 0, 0.35);
    position: relative;
    overflow: hidden;
    width: 50rem;
    height: 67vh;
    max-width: 100%;
    min-height: 480px;
}

.container p{
    font-size: 14px;
    line-height: 20px;
    letter-spacing: 0.3px;
    margin: 20px 0;
}

.container span{
    font-size: 12px;
}

.container a{
    color: #333;
    font-size: 13px;
    text-decoration: none;
    margin: 15px 0 10px;
}

.container button{
    background-color: #09469b;
    color: #fff;
    font-size: 14px;
    padding: 10px 30px;
    border: 1px solid transparent;
    border-radius: 8px;
    font-weight: 600;
    letter-spacing: 0.5px;
    text-transform: uppercase;
    margin-top: 10px;
    cursor: pointer;
    width: 105%;
    margin-bottom: 10%;
}

#button {
    background-color: #09469b;
    color: #fff;
    font-size: 14px;
    padding: 10px 70px;
    border: 1px solid transparent;
    border-radius: 8px;
    font-weight: 600;
    letter-spacing: 0.5px;
    text-transform: uppercase;
    margin-top: 10px;
    cursor: pointer;
}


.container form{
    background-color: #fff;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    margin-left: 3%;
    width: 90%;
}

.container input{
    background-color: #eee;
    border: none;
    margin: 8px 0;
    padding: 10px 8px;
    font-size: 14px;
    border-radius: 8px;
    width: 90%;
    outline: none;
}

.form-container{
    display: flex;
    align-items: center;
    position: absolute;
    top: 0;
    height: 100%;
    transition: all 0.6s ease-in-out;
}


.social-icons{
    margin: 20px 0;
}

.social-icons a{
    border: 1px solid #ccc;
    border-radius: 20%;
    display: inline-flex;
    justify-content: center;
    align-items: center;
    margin: 0 3px;
    width: 40px;
    height: 40px;
}

#st-image{
    width: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
    max-width: 100%;
    height: auto;
    margin-left: 10%;
}

#formata-Entrar{
    margin-bottom: 5%;
}   

@media (max-width: 900px) {
    .container {
        width: 40rem;
        height: auto;
        padding: 20px;
        flex-direction: column;
    }

    .container h1 {
        font-size: 24px;
    }

    .container input {
        width: 70%;
    }

    .container button {
        width: 85%;
    }

    #st-image {
        width: 50%;
        margin-left: 0;
    }

    .container form{
        width: 50%
}

    .social-icons a {
        width: 30px;
        height: 30px;
    }
}

@media (max-width: 740px) {
    .container {
        width: 80vw;
        height: auto;
        padding: 20px;
        flex-direction: column;
    }
    .container .form-container {
        width: 60%;
    }

    .container input {
        width: 80%;
    }

    .container button {
        width: 95%;
    }

    #st-image {
        display: none;
    }

    .container form{
        width: 100%;
    }
}

@media (max-width: 480px) {

    .container input {
        width: 100%;
    }

    .container button {
        width: 115%;
    }
}

